* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    color: black;
    font-size: 22px;
}

body {
    background-color: #f5f6fa;
}

header {
    height: 48px;
    width: 80%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    float: right;
    background-image: linear-gradient(to left, #dcdde1, #f5f6fa);
}

table, tr {width: 100%;}

nav {
    width: 20%;
    height: 100vh;
    display: block;
    float: left;
    background-image: linear-gradient(to right, #dcdde1, #f5f6fa);
    text-align: center;
    font-weight: bolder;
}

nav > * {
    font-size: 25px;
}

div#content {
    width: 80%;
    float: left;
}

div#content > table#status > thead > tr > th {
    width: 50%;
    float: left;
}
div#content > table#status > tbody > tr > td {
    width: 50%;
    float: left;
}

div#content > table {
    border: 1px solid black;
    float: left;
}

div#content > table#status {
    width: 30%;
}

div#content > div#info {
    width: 70%;
}

div#info_thead > tr > th, td {
    width: auto;
}

div#info_tbody > tr > th, td {
    width: auto;
    text-align: center;
}

thead {
    text-align: center;
    font-weight: bold;
}